<section class="cart-home">
    <div class="post-item-cart d-block order-2">
        <div class="content-page">
            <div class="cart-collaterals">
                <div class="totals d-block">
                    <div class="container">
                        <div class="grid second-nav">
                            <div class="column-xs-12">
                                <nav>
                                    <ol class="breadcrumb-list">
                                        <li class="breadcrumb-item"><a href="/">صفحه نخست</a></li>
                                        <li class="breadcrumb-item"><a
                                                href="/category/{{product.nameOfCategories}}">{{product.nameOfCategories}}</a>
                                        </li>
                                        <li class="breadcrumb-item active">{{product.name}}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="grid product">
                            <div class="column-xs-12 column-md-7">
                                <div class="product-gallery">
                                    <div class="product-image">
                                        <!-- <div class="box"> -->
                                        <!-- <a> -->
                                        <!-- <span class="c1"></span><span class="c2"></span><span class="c3"></span><span class="c4"></span><span class="c5"></span><span class="c6"></span>
                                                <span class="c7"></span><span class="c8"></span><span class="c9"></span><span class="c10"></span><span class="c11"></span><span class="c12"></span>
                                                <span class="c13"></span><span class="c14"></span><span class="c15"></span><span class="c16"></span><span class="c17"></span><span class="c18"></span>
                                                <span class="c19"></span><span class="c20"></span><span class="c21"></span><span class="c22"></span><span class="c23"></span><span class="c24"></span>
                                                <span class="c25"></span><span class="c26"></span><span class="c27"></span><span class="c28"></span><span class="c29"></span><span class="c30"></span>
                                                <span class="c31"></span><span class="c32"></span><span class="c33"></span><span class="c34"></span><span class="c35"></span><span class="c36"></span> -->
                                        <img class="active"
                                            src="../assets/images/productImages/{{product.imageName}}" />
                                        <!-- <img class="image"> -->
                                        <!-- </a> -->

                                        <!-- </div> -->
                                    </div>
                                    <span>
                                        <a style="margin: 0 5px;" class="numberOfComment"><i class="fa fa-comments-o"
                                                aria-hidden="true"></i> {{product.numberOfComments}} </a>
                                        <a style="cursor: pointer;" (click)="Bookmark()" id="bookmark">
                                            <i style="margin-right: 5px;"
                                                 class="fa {{product?.IsBookmarked?'fa-bookmark':'fa-bookmark-o'}}"
                                            aria-hidden='true'></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="column-xs-12 column-md-5">
                                <p class="info-header">
                                    اطلاعات محصول</p>
                                <h6>{{product.name}}</h6>
                                <p>{{product.price}} هزار تومان - <span>{{product.nameOfBrand}}</span> </p>
                                <div class="description">
                                    <p>{{product.shortName}}</p>
                                </div>
                                <button class="add-to-cart">افزودن به سبد خرید</button>
                                <br /><br />
                                <ul *ngIf="product?.imageFiles?.length != 0" class="image-list">
                                    <li *ngFor="let image of imageFiles" class="image-item">
                                        <img src="../assets/gallery/{{image}}" />
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" id="nav-items">
                                <ul class="nav nav-pills nav-pills-success nav-stacked">
                                    <li>
                                        <a class="link active" style="margin-right: 100px;" data-toggle="pill"
                                            href="#detail" aria-selected="true"><strong>جزئیات محصول</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" style="margin-right: 100px;" data-toggle="pill" href="#sellers"
                                            aria-selected="false"><strong>فروشندگان و ضمانت محصول</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" style="margin-right: 100px;" data-toggle="pill" href="#comment"
                                            aria-selected="false"><strong>نظرات مشتریان</strong>
                                        </a>
                                    </li>
                                    <li><a class="link" style="margin-right: 100px;" data-toggle="pill" href="#related"
                                            aria-selected="false"><strong>محصولات مرتبط</strong>
                                        </a>
                                    </li>
                                    <li><a class="link" style="margin-right: 100px;" data-toggle="pill" href="#prefered"
                                            aria-selected="false"><strong>محصولات پیشنهادی</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div id="detail" class="row tab-pane fade show active">
                                        <div class="grid product column-md-12">
                                            <div class="column-xs-12 column-md-5">
                                                <div class="product-image" style="box-shadow: 0 0px 10px orchid;">
                                                    <img class="active"
                                                        src="../assets/images/productImages/{{product.imageName}}" />
                                                </div>
                                            </div>
                                            <div class="description column-md-7">
                                                توضیحات درباره {{product.name}}
                                                <hr style="background-color: orange; size: 2px;" />
                                                <p>قیمت: {{product.price}} هزار تومان - <span>برند:
                                                        {{product.nameOfBrand}}</span> </p>
                                                <span>تاریخ تولید: {{product.persianInsertTime}} - تاریخ انقضا:
                                                    {{product.persianExpirationDate}}</span>
                                                <p style="margin-top: 15px;">فروشنده: {{product.nameOfSeller}}</p>
                                                <hr style="background-color: orange; size: 2px;" />
                                                جزئیات محصول:
                                                <p> {{product.description}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="sellers" class="tab-pane fade">
                                        <div class="grid product column-md-12">
                                            <div class="column-xs-12 column-md-5">
                                                <div class="product-image" style="box-shadow: 0 0px 10px darkblue;">
                                                    <img class="active"
                                                        src="../assets/images/sellerImages/{{seller?.sellerImage}}" />
                                                </div>
                                            </div>
                                            <div class="description column-md-7">
                                                فروشنده محصول {{seller?.name}}
                                                <hr style="background-color: orange; size: 2px;" />
                                                <span>تاریخ ثبت نام: {{seller?.persianRegisterDate}} </span><br/>
                                                درباره فروشنده:
                                                <p> {{seller?.description}}</p>
                                                <app-rating (onRating)="Rating(seller?.Id, $event)" [selectedRate]="seller.userVote"></app-rating>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="comment" class="tab-pane fade">
                                        <app-comment></app-comment>
                                    </div>

                                    <div id="related" class="tab-pane fade">
                                        <div class="grid related-products">
                                            <div *ngFor="let item of productsRelated" class="column-md-3">
                                                <img (click)="Details(item.Id)"
                                                    src="../assets/images/productImages/{{item?.imageName}}">
                                                <h4>{{item?.name}}</h4>
                                                <p class="price">{{item?.price}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="prefered" class="tab-pane fade">
                                        <div class="grid related-products row">
                                            <div *ngFor="let item of productsPrefered" class="column-md-3">
                                                <img (click)="Details(item?.Id)"
                                                    src="../assets/images/productImages/{{item?.imageName}}">
                                                <h4>{{item?.name}}</h4>
                                                <p class="price">{{item?.price}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End container -->
                    <!-- This template has been downloaded from Webrubik.com -->
                </div>
            </div>
        </div>
    </div>
</section>