@model SnapMarket.ViewModels.City.CityProvinceViewModel

<link href="~/lib/comboTreePlugin/comboTreePlugin.css" rel="stylesheet" />
<script src="~/lib/comboTreePlugin/comboTreePlugin.js"></script>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Id != 0)
                {
                    <h3 id="modal-title">ویرایش اطلاعات شهر</h3>
                }
                else
                {
                    <h3 id="modal-title">افزودن شهر جدید</h3>
                }
                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix">
                <form asp-action="CreateOrUpdate">
                    @if (ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    }
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="Id" />

                    <div class="row p-2 mt-2 mb-2">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">نام شهر</label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="CityName" class="form-control" />
                                <span asp-validation-for="CityName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="control-label">نام استان</label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="ProvinceName" class="form-control" />
                                <span asp-validation-for="ProvinceName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">بستن</button>
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        ذخیره تغییرات
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        افزودن اطلاعات
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
        comboTree2 = $('#ProvinceName').comboTree({
			source : @Html.Raw(Json.Serialize(ViewBag.Provinces)),
			isMultiple: false
		});
    });
</script>

